body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
}

container {
   min-height:100%;
   position:relative;
}

.nav-item {
    letter-spacing : .2em;
    font-size : 14px;
    text-transform : uppercase;
}

.dropdown-item {
    letter-spacing : .2em;
    font-size : 14px;
    text-transform : uppercase;
}
.my_footer{
    background-color: #efefef;
    flex: 0 0 50px;/*or just height:50px;*/
    margin-top: auto;
    text-color:white;

    text-align :center;
}


.my_footer p{
    padding-top:20px;
    font-size:14px;

}

.my_row_class{
    padding-top : 15px;
}

.my_row_class .mx_auto{
    color:#0000;
    font-size : 12px;
}

.my_image{
    width : 100%;
    height : auto;
}

.my_title{
    font-size : 16px;
    text_transform:uppercase;
    letter-spacing : .2em;
}

.my_image_padding{
    padding : 5px;
}

.my_bottom_margin{
    margin-bottom : 10px;
}

.card-body h4{
    font-size : 14px;
    text_transform:uppercase;
    letter-spacing : .2em;
}

.my_product_row_class{
     padding-top : 15px;
     padding-bottom : 25px;
}

.my_product_row_class .mx_auto{
    color:#0000;
    font-size : 12px;
    text-decoration : none;
}

.my_product_title{
    font-size : 16px;
    text_transform:uppercase;
    letter-spacing : .2em;
    padding-top : 15px;
    padding-bottom : 25px;
}

.my_prod_text{
   padding-right : 20px;
}

.my_search_text{
   padding-top : 20px;
}

.my_custom_table{
    min-width:400px;
    font-size:14px;

}

.my_custom_ad{
    text-center;
    font-weight:normal;
    text-transform:uppercase;

    background-color:white;
}

.custom_a{
    text-decoration:none;
}

.custom_icon{
    text-decoration:none;
    color:darkslategrey;
}

.my_custom_button{
    margin-top:5px;
}